*{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
body{
   
    background-image: url("12721024.png");
    background-size: cover;
    
} 

.main-container{
    width: 400px;
    height: 250px;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    border: 4px solid black;
    align-items: center;
    background-color: rgb(189, 157, 115);
    opacity: 1;

   
}
.input-container{
   width: 350px;
   height: auto;
   display: flex;
   margin: auto;
   margin-top: 30px;
   justify-content:space-around;
   align-items: center;
   margin-bottom: 5px;
   
 
   
}
.weight,.height{
    color: black;
    text-decoration: double;
}
h1{
    text-align: center;
    margin-top: 20px;
}

input{
    border-radius: 5px;
    border: none;
    
}

.submit,.clear{
    cursor: pointer;
}

.buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    


}
button{
    border-radius: 5px;
    border: none;
    background-color: white;
    margin: 5px;
    color: black;
}
.result{
    
    text-align: center;
    color: black;
    font-weight: bold;
}
#msg,#mypara{
    height: 20px;
    text-align: center;
    margin: auto;
    color: black;
    font-weight: bold;
}



/* .circle {
    position: relative;
    top: 20px;

    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, #ddd, #bbb);
    border-radius: 150px 150px 20px 20px;
    overflow: hidden;
    transition: background-color 0.5s ease;
    border: 4px solid black;
    
    padding: 0;
    margin: auto;
    background: conic-gradient(
        #2196f3 0deg,
        #2196f3 67.5deg,
        #4caf50 67.5deg,
        #4caf50 112.5deg,
        #ffeb3b 112.5deg,
        #ffeb3b 135deg,
        #f44336 135deg,
        #f44336 180deg
      );
      overflow: hidden;
  }

  .numbers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .number {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
  }

  .needle {
    position: absolute;
    width: 4px;
    height: 120px;
    background-color: black;
    top: 25%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
  }
  .needle::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -6px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid black;
  } */